/* .page-link{
   margin: 10px;
   border: 1px solid red;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
 } */

.active {
  background: #0765AA !important;
  color: #fff !important;
}
